/* Vector image css */

.Vector_img{
    position: absolute;
    top: 0;
    left: 0px;
    background-color: transparent;
    width: 550px;
   height: 120px;
   transform: scaleY(2.5);
}

/* Mask Group Bottom css */

.mask-img{
    position: absolute;
    bottom: -10px;
    right: 0px;
    background-color: transparent;
    width: 430px;
    height: 120px;
   transform: scaleY(2.5);
}


.HeroSectionContainer{
    width: 100%;
    background-color: #7C4EE4;
    padding-block: 90px;
    display: flex;
    justify-content: space-around;
    color: white;
    flex-wrap: wrap;
    row-gap: 55px;
}

.heroLeft-con{
    width: 680px;
    padding-left: 40px;
    margin-top: 40px;
    position: relative;
    z-index: 9999;
}
.heroLeft-con h4{
    margin-top: 15px;
    font-weight: 500;
}
.heroLeft-con h1{
    margin-top: 35px;
    font-size: 44px;
    font-weight: 800;
    letter-spacing: -0.5px; /* Try negative or positive values */
    line-height: 1.4;
   font-family: "Raleway", serif;
}
.heroLeft-con p{
    margin-top: 20px;
    line-height: 24px;
    word-wrap: break-word;
}
.heroLeft-con button{
    margin-top: 30px;
    width: 130px;
    height: 38px;
    border-radius: 4px;
    background-color: white;
    color: black;
    border: none;
    /* font-variant: small-caps; */
    font-size: 17px;
    font-weight: 500;
    transition:  0.5s ease-in;
    &:hover{
        background-color: transparent;
        box-shadow: 0px 0px 8px rgb(246, 245, 246);
        border: 1px solid white;
        background-color: var(--purple);
        color: white;
    }
}
.heroRight-con{
    width: 430px;
    height: 410px;
    margin-top: 20px;
    position: relative;
    z-index: 9999;
}
.heroRight-con img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/*  Media Query For All Devices Start Here.. */

@media(max-width:1100px){
    .HeroSectionContainer{
        justify-content: space-between;
        padding-right: 10px;
    }
    .heroLeft-con{
        width: 600px;
        padding-left: 20px;
    }
}

@media(max-width:1050px){

    .HeroSectionContainer{
       justify-content: center;
    }

    .heroLeft-con{
        width: 850px;
    }
   .mask-img{
    display: none;
   }
    
}

@media(max-width:620px){
    .Vector_img {
        width: 100%;
        left: 0px;
        transform: scaleY(2.2);
    }

}

@media(max-width:470px){

    .HeroSectionContainer{
        padding-block: 30px;
        padding-right: 0px;
    }
.heroLeft-con{
    width: 450px;
    margin-top: 55px;
    padding-left: 50px;
}
    .heroLeft-con h4{
        font-size: 15px;
    }
    .heroLeft-con h1 {
        font-size: 30px;
        line-height: 40px;
    }
    .heroLeft-con p{
        font-size: 14px;
        line-height: 22px;
    }
    .heroRight-con{
        width: 350px;
        height: 350px;
    }

    .Vector_img {
        transform: scaleY(1.6);
    }
}