.section3-container{
    width: 100%;
    padding-inline: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: 0 50%;
}

.s3left-con{
    width: 780px;
    height: 450px;
}
.s3left-con img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition: all 0.3 ease-out;
}
.s3right-con{
    width: 550px;
    /* background-color: white; */
    padding-block: 20px;
    padding-inline: 20px;
    border-radius: 10px;
}

.s3right-con p .span1{
    font-weight: 600;
    margin-right: 9px;
}
.s3right-con p .span2{
    font-weight: 250;
}
.s3right-con h1{
    margin-block: 20px;
    font-family: "Raleway", serif;
    font-weight: 600;
}
.s3right-con button{
    margin-top: 25px;
    width: 130px;
    height: 39px;
    border: 1px solid var(--purple);
    background-color: transparent;
    border-radius: 4px;
    transition: 0.4s ease-in-out;
    &:hover{
        background-color: var(--purple);
        border: 1px solid white;
        color: white;
       transform: scaleX(1.1);
       } 
}


/* Media Query Start For All the Devices */

@media (max-width:1390px){
    .s3left-con {
        width: 740px;
        height: 450px;
    }
    .s3right-con {
        width: 500px;
    }
}
@media (max-width:1290px){
    .s3left-con {
        width: 700px;
        height: 450px;
    }
    .s3right-con {
        width: 470px;
    }
}
@media (max-width:1190px){
    .s3left-con {
        width: 600px;
        height: 450px;
    }
    .s3right-con {
        width: 470px;
    }
}

@media (max-width:1090px){
    .s3left-con {
        width: 500px;
        height: 380px;
    }
    .s3right-con {
        width: 450px;
    }
}

@media (max-width:990px){
    .s3left-con {
        width: 400px;
        height: 300px;
    }
    .s3right-con {
        width: 470px;
    }
    .s3right-con p .span1 {
       font-size: 13px;
    }
    .s3right-con p .span2 {
        font-size: 13px;
    }
    .s3right-con h1 {
        font-size: 26px;
    }
    .s3right-con p{
        font-size: 14px;
    }
    .s3right-con button{
        width: 120px;
        height: 35px;
    }
}
@media (max-width:920px){
    .s3left-con {
        width: 420px;
        height: 310px;
    }
    .s3right-con {
        width: 400px;
    }
    .s3right-con p .span1 {
       font-size: 13px;
    }
    .s3right-con p .span2 {
        font-size: 13px;
    }
    .s3right-con h1 {
        font-size: 22px;
    }
    .s3right-con p{
        font-size: 13px;
    }
    .s3right-con button{
        width: 110px;
        height: 32px;
    }
}
@media (max-width:850px){
    .s3left-con {
        width: 350px;
        height: 250px;
    }
    .s3right-con {
        width: 350px;
    }
    .s3right-con p .span1 {
       font-size: 12px;
    }
    .s3right-con p .span2 {
        font-size: 12px;
    }
    .s3right-con h1 {
        font-size: 18px;
    }
    .s3right-con p{
        font-size: 12px;
    }
    .s3right-con button{
        width: 100px;
        height: 28px;
    }
}

@media(max-width:750px){
    .section3-container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .s3right-con,.s3left-con{
        width: 100%;
    }
}


