.three_Card-main{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 75px;
    padding-inline: 25px;
}

/* multiple_card-main Css Start */

.multiple_card-main{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 75px;
    padding-inline: 25px;
}