.singleline-main{
    display: flex;
    justify-content: space-between;
    padding-inline: 27px;
    padding-block: 60px;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: 0 50%;
}
.singleline-main h1{
    font-weight: 650;
    font-size: 42px;
    font-family: "Raleway", serif;

}
.singleline-main button{
    width: 125px;
    height: 45px;
    color: white;
    background-color: var(--purple);
    border-radius: 5px;
    border: none;
    font-weight: bolder;
    letter-spacing: 1px;
    transition: 0.5s ease-out;
    &:hover{
        border: 1px solid var(--purple);
        background-color: transparent;
        color: black;
        scale: 1.15;
       } 
}

@media (max-width:600px){
    .singleline-main h1{
        font-size: 30px;
    }
    .singleline-main button{
        width: 105px;
        height: 37px;
    }
}
@media (max-width:500px){
    .singleline-main h1{
        font-size: 26px;
    }
    .singleline-main button{
        width: 98px;
        height: 32px;
        font-size: 12px;
    }
}
@media (max-width:400px){
    .singleline-main h1{
        font-size: 20px;
    }
    .singleline-main button{
        width: 90px;
        height: 27px;
        font-size: 12px;
    }
}
