.singleline-main{
    display: flex;
    justify-content: space-between;
    padding-inline: 27px;
    padding-block: 60px;
}
.singleline-main h1{
    font-weight: 550;
    font-size: 43px;
    font-family: "Inter", sans-serif;
}
.singleline-main button{
    width: 125px;
    height: 45px;
    color: white;
    font-variant: small-caps;
    background-color: var(--purple);
    border-radius: 5px;
    border: none;
    font-weight: bolder;
    letter-spacing: 1px;
}

@media (max-width:600px){
    .singleline-main h1{
        font-size: 35px;
    }
    .singleline-main button{
        width: 115px;
        height: 40px;
    }
}
@media (max-width:500px){
    .singleline-main h1{
        font-size: 30px;
    }
    .singleline-main button{
        width: 105px;
        height: 37px;
    }
}
@media (max-width:400px){
    .singleline-main h1{
        font-size: 22px;
    }
    .singleline-main button{
        width: 95px;
        height: 30px;
    }
}
